@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    font-family: "Open Sans", sans-serif;
}
a{
    text-decoration: none;
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container{
    padding: 0 15px;
    margin: 0 auto;
}
.preload {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10000;
}
.preload img{
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}
#up{
    position: fixed;
    right: 150px;
    bottom: 100px;
    border-radius: 50%;
    background-color: var(--main-color);
    width: 35px;
    height: 35px;
    z-index: 1000;
    color: white;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
    opacity: 0;
    border: none;
    transition: all 0.3s;
}
#up:hover{
    transform: translateY(-10px);
}
#up .up{
    margin-top: 3px;
}
.main-title{
    color: white;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    border: 1px solid white;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
    cursor: pointer;
    transform: translateY(80px);
    position: relative;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
}
.main-title::before{
    position: absolute;
    content: '';
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
}
.main-title::after{
    position: absolute;
    content: '';
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
}
.main-title:hover{
    transition-delay: 0.5s;
    border-color: white;
    color: white;
}
.main-title:hover::before{
    z-index: -1;
    animation: go-right 0.5s linear forwards;
}
.main-title:hover::after{
    z-index: -1;
    animation: go-left 0.5s linear forwards;
}
.nav-bullets{
    position: fixed;
    top: 40%;
    right: 0;
    width: 85px;
    transform: translateY(-50%);
    z-index: 1000;
    list-style: none;
    animation: right-bullets 1s forwards ease;
}
.nav-bullets .bullet{
    width: 20px;
    height: 20px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    margin: 15px auto;
    cursor: pointer;
    position: relative;
}
.nav-bullets .bullet .toggle{
    position: absolute;
    background-color: var(--main-color);
    color: white;
    width: 100px;
    left: -118px;
    padding: 6px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 14px;
    cursor: default;
    pointer-events: none;
    display: none;
}
.nav-bullets .bullet:hover .toggle{
    display: block;
}
.nav-bullets .bullet .toggle::before{
    position: absolute;
    content: '';
    border-style: solid;
    border-color: transparent transparent transparent var(--main-color);
    border-width: 7px;
    top: 50%;
    right: -14px;
    transform: translateY(-50%);
}
:root{
    --main-color: #61A3BA;
}
/* start settings box  */
.settings-box{
    position: fixed;
    top: 0;
    left: -200px;
    background-color: #00000096;
    width: 200px;
    min-height: 100vh;
    z-index: 100;
    transition: all 0.3s;
}
.settings-box .toggle-settings{
    position: absolute;
    right: -36px;
    background-color:rgb(238 238 238 / 11%);
    text-align: center;
    cursor: pointer;
    animation: setting forwards ease 0.9s;
    animation-delay: 0.7s;
    opacity: 0;
}
.settings-box .toggle-settings .setting{
    padding: 8px 4px;
    width: 35px;
    color: var(--main-color);
}
.settings-box.open{
    left: 0;
}
.settings-box .setting-container .option-box{
    padding: 10px;
    text-align: center;
    background-color:rgb(238 238 238 / 11%);
    margin: 10px 0 0;
}
.settings-box .setting-container .option-box h4{
    text-transform: capitalize;
    color: #f6f6f6;
    font-size: 20px;
    margin: 0vh;
}
.settings-box .option-box .colors-list {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 20px 0 0 0;
}
.settings-box .option-box .colors-list li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-color);
    cursor: pointer;
    display: inline-block;
    opacity: 0.3;
}
.settings-box .option-box .colors-list li.active{
    opacity: 1;
    border: 2px solid white;
}
.settings-box .option-box .colors-list li:first-child{
    background-color: #61A3BA;
}
.settings-box .option-box .colors-list li:nth-child(2){
    background-color: #FF6868;
}
.settings-box .option-box .colors-list li:nth-child(3){
    background-color: #F1C376;
}
.settings-box .option-box .colors-list li:nth-child(4){
    background-color: #4caf50;
}
.settings-box .option-box .colors-list li:nth-child(5){
    background-color: #BC7FCD;
}
/* .settings-box .option-box:nth-last-of-type(2){
    margin-top: 46px;
} */
.settings-box .option-box h2{
    color: #f6f6f6;
    font-size: 17px;
    margin: 0;
}
.settings-box .random-background,
.settings-box .display,
.settings-box .position{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.settings-box .random-background span,
.settings-box .display span,
.settings-box .position span{
    background-color: var(--main-color);
    cursor: pointer;
    padding: 2px 4px;
    border-radius: 2px;
    width: 40%;
    opacity: .5;
    transition: all 0.3s;
    color: white;
}
.settings-box .random-background span:hover{
    opacity: 1;
}
.settings-box .random-background span.active,
.settings-box .display span.active,
.settings-box .position span.active{
    opacity: 1;
}

.settings-box .setting-container .reset-option{
    border: none;
    margin: 20px auto;
    display: block;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #d73131;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}
.settings-box .setting-container .reset-option:hover{
    background-color: #4d1111;
}
.show-popupo{
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 20px 30px;
}
.show-popupo .text-popupo{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    display: block;
}
.show-popupo .btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 60px;
}
.show-popupo .btn-div .btn-yes{
    background-color: #2367d9;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 15px;
    width: 25%;
    text-align: center;
    cursor: pointer;
}
.show-popupo .btn-div .btn-no{
    background-color: #4d1111;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 15px;
    width: 25%;
    text-align: center;
    cursor: pointer;
}
/* end settings box  */
/* start landing page  */
.landing-page{
    min-height: 100vh;
    background-image: url('../img/wallpaperflare.com_wallpaper\ \(8\).jpg'); 
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
    z-index: 2;
    transition: all 0.3s;
}
.landing-page .down{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
    font-size: 40px;
    cursor: pointer;
    z-index: 200;
    transform: scale(0);
    animation: slide forwards 1s ease; 
   animation-delay: 2s;
   animation-play-state: running;
}
.landing-page .overlay{
    position: absolute;
    background-color: #000000ba;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.header-area{
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: capitalize;
}
.header-area-2{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: capitalize;  
}

.header-area .logo{
    color: var(--main-color);
    font-size: 35px;
    font-weight: bold;
    animation: slideright forwards 1s ease; 
    animation-delay: 0.8s; 
    opacity: 0; 
}
.header-area .logo::before{
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    opacity: 0;
    transition: all 0.3s;
}
.header-area .logo:hover::before{
    opacity: 0.8;
    bottom: -10px;
}
.header-area ul.links{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.header-area ul li a{
    font-size: 18px;
    margin-left: 25px;
    cursor: pointer;
    animation: slidetop 0.4s forwards ease;
    opacity: 0;
    animation-delay: calc(0.3s * var(--i));
    position: relative;
    color: #fff;
    display: inline-block;
}
.header-area ul li a.active{
    color: var(--main-color);
}
.header-area ul li a::before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 1px;
    background-color: var(--main-color);
    width: 0;
    transition: all 0.3s ease-in-out;
}
.header-area ul li a::after{
    content: "";
    position: absolute;
    top: -2px;
    right: 0;
    height: 1px;
    background-color: var(--main-color);
    width: 0;
    transition: all 0.3s ease-in-out;
}
.header-area ul li a:hover::after{
    width: 100%;
}
.header-area ul li a:hover::before{
    width: 100%;
}
.header-area .work{
    border: none;
    border: 1px solid var(--main-color);
    padding: 10px 20px;
    border-radius: 4px;
    background-color:var(--main-color);
    color: black;
    cursor: pointer;
    animation: slideleft forwards ease 1s;
    animation-delay: 0.8s;
    opacity: 0;
    font-weight: 600;
    transition: all 0.3s;
}
.header-area .work:hover{
    background-color: transparent;
    border-color: var(--main-color);
    color: white;
}
.introduction-text{
    position: relative;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.introduction-text h2{
    font-size: 40px;
    color:var(--main-color);
    animation: slideright ease forwards 1s;
    animation-delay: 0.6s;
    opacity: 0;
}
.introduction-text .text p{
    line-height:2.2;
    width: 650px;
    animation: slides forwards 1s ease;
    animation-delay: 0.4s;
    opacity: 0;
}
.introduction-text span .creative{
    color: var(--main-color);
}
.introduction-text .special{
    font-size: 20px;
    animation: slidebottom forwards 1s ease;
    animation-delay: 0.4s;
    position: relative;
    top: -100px;
    opacity: 0;
}
.introduction-text .image img{
    max-width: 100%;
    animation:  updown infinite forwards 8s;
    opacity: 0;
    transition: all 0.3s;
    position: relative;
}
.introduction-text .text .social-icons i{
    font-size: 25px;
    margin-right: 20px;
    color: white;
    animation: slideleft forwards ease 0.5s;
    animation-delay: calc(0.6s * var(--i));
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}
.introduction-text .text .social-icons i:hover{
    transform: scale(1.2) !important;
}
.introduction-text .text .download{
    background-color: rgb(238 238 238 / 78%);
    border: none;
    padding: 10px 20px;
    margin-top: 30px;
    animation: slidetop forwards ease 1s;
    animation-delay: 2s;
    opacity: 0;
    cursor: pointer;
    color: black;
    font-weight: bold;
    position: relative;
    transition: all 0.3s ease;
}
.introduction-text .text .download::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    background-color: var(--main-color);
    height: 100%;
    z-index: -1;
    border-radius: 6px;
    transition: all 0.3s;
}
.introduction-text .text .download:hover{
    margin-left: 10px;
}
.introduction-text .text .download:hover::before{
    width: 100%;
    color: black;
}
.header-area .icons{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.list,
.x{
   cursor: pointer;
   font-size: 20px;
}
/* end landing page  */
/* start about */
.about-me{
    background-color: #000000fa;
}
.about-me .container{
    display: flex;
    justify-content: space-between;
    padding: 150px 15px 50px 15px;
    position: relative;
}
.about-me .text-about{
    color: white;
    padding: 60px 30px;
    background-color: 00000052;
    flex: 1;
    position: relative;
    box-shadow: 0 0 4px rgb(238 238 238 / 46%);
    margin-bottom: 80px;
    margin-top: 20px;

}
.about-me .text-about::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 0;
    background-color: var(--main-color);
    transition: all 0.9s;
}
.about-me .text-about::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 0;
    background-color: var(--main-color);
    transition: all 0.9s;
}
.about-me .text-about:hover::before,
.about-me .text-about:hover::after{
    height: 100%;
}
.about-me .text-about h2{
    text-transform: capitalize;
    font-size: 30px;
    color: var(--main-color);
    margin: 0;
    opacity: 0;
}
.about-me .text-about p{
    line-height: 2.2;
    text-transform: capitalize;
    width: 550px;
    opacity: 0;
    font-size: 14px;
}
.about-me .text-about .btn-about{
    border: none;
    position: relative;
    background-color: var(--main-color);
    padding: 10px 25px;
    cursor: pointer;
    z-index: 1;
    color: white;
    margin-top: 20px;
    transition: all 0.3s;
    opacity: 0;
}
.about-me .text-about .btn-about::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: white;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: all 0.5s;
}
.about-me .text-about .btn-about:hover{
    color: black;
    z-index: 1;
}
.about-me .text-about .btn-about:hover::before{
    width: 100%;
}
.about-me .text-about .btn-about .right{
    margin-left: 10px;
}
.about-me .text-about .btn-about:hover .right {
    animation: right forwards 0.3s infinite;
    animation-delay: 0.3s;
}
.about-me .text-about #robot{
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    max-width: 100%;
}
/* end about */
/* srart skills */
.skills{
    background-color: #000000f5;
}

.skills .container{
    padding: 160px 15px 100px 15px;
    text-transform: capitalize;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.skills .container .skills-value{
    width: calc(100% - 150px);
    margin: 0 auto;
}
.skills .container .skills-value label{
    margin-bottom: 10px;
    display: block;
    color: white;
}
.skills .container .skills-value .cont{
    background-color: #ffffff05;
    height: 25px;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}
.skills .container .skills-value .cont span{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: var(--main-color);
    transition: all 1s;
}
.skills .container .skills-value .cont::before{
    content: '85%';
    position: absolute;
    right: 135px;
    top: -35px;
    background-color: white;
    width: 27px;
    height: 20px;
    border-radius: 2px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}
.skills .container .skills-value .cont::after{
    right: 144px;
    content: '';
    position: absolute;
    top: -15px;
    border-style: solid;
    border-width: 5px;
    border-color: white transparent transparent transparent;
    opacity: 1;
}
.skills .container .skills-value .cont.first-2::before{
    right: 185px;
    content: '80%';
}
.skills .container .skills-value .cont.first-2::after{
    right: 194px;
}
.skills .container .skills-value .cont.first-3::before{
    right: 87px;
    content: '90%';
}
.skills .container .skills-value .cont.first-3::after{
    right: 95px;
}
.skills .container .skills-value .cont.first-4::before{
    right: 236px;
    content: '75%';
}
.skills .container .skills-value .cont.first-4::after{
    right: 244px;
}
.skills .container .skills-content{
    box-shadow: 0 0 4px rgb(238 238 238 / 19%);
    padding: 20px;
    width: calc(100% - 150px);
    margin: 0 auto;
}
.skills .container .skills-content h2{
    color: white;
    opacity: 0;
}

.skills .container .skills-content p{
    color: #777;
    line-height: 2;
    font-size: 13px;
    opacity: 0;
}
.skills .container .skills-content span{
    color: #f6f6f6;
    display: block;
    margin-top: 20px;
    opacity: 0;
}
.skills .container .skills-content span i{
    margin-right: 5px;
    color: var(--main-color);
} 
.skills .container .skills-content a{
    text-decoration: none;
    color: black;
    background-color: var(--main-color);
    display: block;
    width: fit-content;
    margin-left: auto;
    text-align: right;
    padding: 10px;
    border-radius: 4px;
    opacity: 0;
    border: 1px solid var(--main-color);
    background-color: transparent;
    color: white;
    transition: all 0.3s;
}
/* end skills */

/* start gallery */
.gallery{
    background-color: black;
}
.gallery .container{
    padding: 180px 15px 100px 15px;
}
.gallery .container .gallery-box{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 40px;
}
.gallery .container .gallery-box img:hover{
    transform: rotate(5deg);
}
.gallery .container .gallery-box img{
    max-width: 100%;
    padding: 10px;
    background-color: rgb(238 238 238 / 0%);
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(238 238 238 / 24%);
    transition: all 0.3s;
}
.overlay-box{
    z-index: 2000;
    background-color: #000000eb;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popupo-box{
    background-color: rgb(238 238 238 / 3%);
    z-index: 2001;
    width: 500px;
    height: 550px;
    border: 1px solid #cccccc1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    box-shadow: 0 0 5px rgb(238 238 238 / 25%);
}
.popupo-box img{
    max-width: 100%;
    border-radius: 2px;
}
.popupo-box .image-title{
    margin: 10px 0 20px;
    font-size: 22px;
    font-weight: bold;
    color: var(--main-color);
}
.popupo-box .delete-btn{
    color: white;
    position: absolute;
    right: -15px;
    top: -15px;
    background-color: var(--main-color);
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
}
/* end gallery */
/* start time line */
.timeline{
    background-color: #070707f5;
}
.timeline .container{
    color: white;
}
.timeline .container .content-timeline{
    position: relative;
    overflow: hidden;
    padding: 50px 0 0;
}
.timeline .container .content-timeline .line-timeline-1,
.timeline .container .content-timeline .line-timeline-2,
.timeline .container .content-timeline .line-timeline-3{
    position: absolute;
    width: 2px;
    background-color: var(--main-color);
    left: 50%;
    transform: translate(-50%);
    width: 2px;
    opacity: 0;
}
.timeline .container .content-timeline .line-timeline-1{
    height: 0;
    top: 0;
}

.timeline .container .content-timeline .line-timeline-2{
    top: 106px;
    height: 0;
}

.timeline .container .content-timeline .line-timeline-3{
    top: 256px;
    height: 0;
}
.timeline .container .year{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    box-shadow: 0 0 5px rgb(238 238 238 / 16%);
    color: white;
    width: 44px;
    height: 22px;
    text-align: center;
    padding: 1px 0;
    font-weight: 600;
    border-radius: 4px;
}
.timeline .container .content-timeline .left,
.timeline .container .content-timeline .right{
    padding: 10px 20px;
    width: calc(50% - 50px);
    background-color: black;
    border: 1px solid #ffffff29;
    position: relative;
    opacity: 0;
}
.timeline .container .content-timeline .left{
    float: left;
}
.timeline .container .content-timeline .right{
    float: right;
}
.timeline .container .content-timeline .left::after{
    position: absolute;
    content: '';
    border-style: solid;
    border-color: transparent transparent transparent #fffffffa;
    border-width: 7px;
    top: 33px;
    right: -15px;
}

.timeline .container .content-timeline .right .circle-right,
.timeline .container .content-timeline .left .circle-left{
    content: '';
    position: absolute;
    background: conic-gradient(white 3.6deg, #00000000 0deg);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transform: translatex(-50%);
    top: 25px;
    display: none;
}
.timeline .container .content-timeline .right .circle-right{
    left: -51px;
}
.timeline .container .content-timeline .left .circle-left{
    right: -81px;
}
.timeline .container .content-timeline .right::after{
    position: absolute;
    content: '';
    border-style: solid;
    border-color: transparent #fffffffa transparent transparent;
    border-width: 7px;
    top: 33px;
    left: -15px;
}
.timeline .container .content-timeline p{
    line-height: 2;
    font-size: 14px;
}
.timeline .container .content-timeline h3{
    font-weight: bold;
    color: var(--main-color);
}
.clear-float{
    clear: both;
}
/* end time line */
/* start feature */
.feature{
    background-color: black;
}
.feature .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 20px;
    margin-top: 50px;
    padding-bottom: 150px;
}
.feature .container .box-feature{
    text-align: center;
    text-transform: capitalize;
    color: white;
    border: 1px solid #ffffff29;
    padding: 20px;
    box-shadow: 0 0 5px rgb(238 238 238 / 30%);
    transition: all 0.3s;
    opacity: 0;
}
.one_feature{
    animation: slideleft forwards 1s ease;
    animation-delay: calc(0.3s * var(--i));
}
.two_feature{
    animation: slideright forwards 1s ease;
    animation-delay: calc(0.3s * var(--a));
}
.feature .container .box-feature img{
    width: 100px;
    max-width: 100%;
}
.feature .container .box-feature .text-feature h3{
    font-weight: bold;
    font-size: 20px;
}
.feature .container .box-feature .text-feature p{
    color: #777;
    font-size: 14px;
    line-height: 2;
}
/* end feature */
/* start testemonials */
.testimonials{
    position: relative;
}
.testimonials::before{
    content: '';
    position: absolute;
    width: 50%;
    background-color: var(--main-color);
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.testimonials::after{
    content: '';
    position: absolute;
    width: 50%;
    background-color: #070707f5;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
}
.testimonials .container{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    padding-bottom: 150px;
}
.testimonials .container .box-testimonials{ 
    background-color: black;
    color: white;
    padding:10px 20px 20px 20px;
    border-radius: 4px;
    opacity: 0;
}
.testimonials .container .box-testimonials > p{ 
    color: #999;
    font-size: 15px;
    line-height: 1.6;
}
.testimonials .container .box-testimonials .info-test{ 
    display: flex;
    align-items: center;
}
.testimonials .container .box-testimonials .info-test img{
    width: 80px;
    border-radius: 50%;
    max-width: 100%; 
}
.testimonials .box-testimonials .info-test .text-info{
    margin-left: 10px;
}
.testimonials .box-testimonials .info-test .text-info p{
    color: #777;
    font-size: 14px;
}
/* end testemonials */
/* start contact */
.contact{
    background-image: url('../img/wallpaperflare.com_wallpaper\ \(17\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.contact::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000c4;
}
.contact .container{
    padding: 200px 15px 100px 15px ;
    position: relative;
}
.contact .container .inputs{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact .container .inputs .left-inputs{
    flex-basis: 40%;
    opacity: 0;
}
.contact .container .inputs input,
.contact .container .inputs textarea{
    display: block;
    padding: 12px;
    border: none;
    width: 100%;
    outline: none;
    background-color: black;
    color: white;
    box-shadow: 0 0 5px rgb(238 238 238 / 9%);
    border: 1px solid #7777775c;
}
.contact .container .inputs input:not(:last-of-type){
    margin-bottom: 20px;
}
.contact .container .inputs input:focus::placeholder,
.contact .container .inputs textarea:focus::placeholder{
    opacity: 0;
    transition: all 0.3s;
}
.contact .container .inputs .right-inputs{
    flex-basis: 40%;
    opacity: 0;
}
.contact .container .inputs textarea{
    flex: 1;
    height: 174px;
    margin-bottom: 20px;
    resize: none;
}
.contact .container input[type="submit"]{
    cursor: pointer;
}
/* end contact */
/* start footer */
.footer{
    background-color: #070707f5;
    padding: 18px;
    color: white;
    text-align: center;
}
/* start keyframes animation */
@keyframes updown {
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(100px);
    }
}
.introduction-text .image img.show {
    animation: updown 8s infinite forwards;
    opacity: 1;
    animation-delay:0.2s;
}
@keyframes slideright{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slidetop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideleft{
    0%{
        transform: translatex(100px);
        opacity: 0;
    }
    100%{
        transform: translatex(0);
        opacity: 1;
    }
}
@keyframes slidebottom{
    0%{
        opacity: 0 ;
        top: -100px;
    }
    100%{
        opacity: 1;
        top: 0;
    }
}
@keyframes title{
    0%{
        opacity: 0 ;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slides{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity:1;
        transform: translateY(0);
    }
}
@keyframes setting{
    0%{
        opacity: 0;
        top: 0;
    }
    100%{
        opacity: 1;
        top: 85px;
    }
}
@keyframes slide{
    0%{
        transform: scale(0) ;
    }
    100%{
        transform: scale(1);
    }
} 

@keyframes bounice{
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40%, 60% {
        transform: translateY(-20px);
    }
}
.landing-page .down.up{
    animation:bounice infinite forwards 1s;
    animation-play-state: running;
}  
.landing-page .down.up:hover{
    animation-play-state: paused;
}
@keyframes go-right{
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        left: 0;
        border-radius:0;
        width: 50%;
        height: 100%;
        background-color: var(--main-color);
    }
}
@keyframes go-left{
    50%{
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        right: 0;
        border-radius:0;
        width: 50%;
        height: 100%;
        background-color: var(--main-color);
    }
}
@keyframes img-right{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes right{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(5px);
    }
}
@keyframes main{
    0%{
        opacity: 0;
        transform: translateY(120px) ;
    }
    100%{
        opacity: 1;
        transform:  translateY(80) ;
    }
}
@keyframes line-2{
    0%{
        opacity: 0;
        height: 0;
    }
    100%{
        opacity: 1;
        height: 120px;
    }
}
@keyframes line-3{
    0%{
        opacity: 0;
        height: 0;
    }
    100%{
        opacity: 1;
        height: 127px;
    }
}
@keyframes line{
    0%{
        opacity: 0;
        height: 0;
    }
    100%{
        opacity: 1;
        height: 76px;
    }
}
@keyframes lines-2{
    0%{
        opacity: 0;
        height: 0;
    }
    100%{
        opacity: 1;
        height: 148px;
    }
}
@keyframes h2{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes right-bullets{
    0%{  
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
/* end keframes animation  */



/* start media queries of header landing */
@media (min-width: 767px){
    .introduction-text{
        width: 760px;
    }
    .header-area{
        width: 760px;
    }
    .introduction-text .text p{
        width: 450px;
    }
    .header-area .list{
        display: none;
        opacity: 0;
    }
    .header-area .x{
        display: none;
        opacity: 0;
    }
    .header-area .logo{
        font-size: 30px;
    }
    .header-area ul li a{
        font-size: 16px;
        margin:0 10px;
    }
    .header-area .work {
        padding: 10px;
    }
    .container{
        width: 760px;
    }
    .about-me .text-about #robot{
        width: 400px;
    }
    .about-me .text-about{
        padding: 20px;
    }
    .about-me .text-about p{
        width: 450px;
        font-size: 12px;
    }
    .skills .container .skills-value .cont::before{
        right: 76px;
    }
    .skills .container .skills-value .cont::after{
        right: 84px;
    }
    .skills .container .skills-value .cont.first-2::before{
        right: 105px;
    }
    .skills .container .skills-value .cont.first-2::after{
        right: 113px;
    }
    .skills .container .skills-value .cont.first-3::before{
        right: 46px;
    }
    .skills .container .skills-value .cont.first-3::after{
        right: 54px;
    }
    .skills .container .skills-value .cont.first-4::before{
        right: 134px;
    }
    .skills .container .skills-value .cont.first-4::after{
        right: 142px;
    }

}
@media (min-width: 991px){
    .introduction-text{
        width: 980px;
    }
    .introduction-text .text p{
        width: auto;
    }
    .introduction-text .text{
        width: 600px;
    }
    .header-area{
        width: 980px;
    }
    .header-area .logo{
        font-size: 35px;
    }
    .header-area ul li a{
        font-size: 18px;
        margin-left: 25px;
    } 
    .header-area .work {
        padding: 10px 20px;
    } 
    .header-area .list{
        display: none;
        opacity: 0;
    }
    .header-area .x{
        display: none;
        opacity: 0;
    }
    .container{
        width: 980px;
    }
    .about-me .text-about #robot{
        width: 500px;
    }
    .about-me .text-about p{
        width: 500px;
        font-size: 13px;
    }
    .skills .container .skills-value .cont::before{
        right: 108px;
    }
    .skills .container .skills-value .cont::after{
        right: 116px;
    }
    .skills .container .skills-value .cont.first-2::before{
        right: 148px;
    }
    .skills .container .skills-value .cont.first-2::after{
        right: 156px;
    }
    .skills .container .skills-value .cont.first-3::before{
        right: 69px;
    }
    .skills .container .skills-value .cont.first-3::after{
        right: 77px;
    }
    .skills .container .skills-value .cont.first-4::before{
        right: 188px;
    }
    .skills .container .skills-value .cont.first-4::after{
        right: 196px;
    }
}
@media (min-width: 1200px){
    .introduction-text{
        width: 1190px;
    }
    .header-area{
        width: 1190px;
    }
    .header-area .list{
        display: none;
        opacity: 0;
    }
    .header-area .x{
        display: none;
        opacity: 0;
    }
    .container{
        width: 1170px;
    }
    .about-me .text-about p{
        width: 550px;
        font-size: 14px;
    }
    .skills .container .skills-value .cont::before{
        right: 135px;
    }
    .skills .container .skills-value .cont::after{
        right: 144px;
    }
    .skills .container .skills-value .cont.first-2::before{
        right: 185px;
    }
    .skills .container .skills-value .cont.first-2::after{
        right: 194px;
    }
    .skills .container .skills-value .cont.first-3::before{
        right: 87px;
    }
    .skills .container .skills-value .cont.first-3::after{
        right: 95px;
    }
    .skills .container .skills-value .cont.first-4::before{
        right: 236px;
    }
    .skills .container .skills-value .cont.first-4::after{
        right: 244px;
    }
} 
/* MAX MEDIA */
@media (max-width: 766px){
    .introduction-text .image {
        display: none;
    }
    .introduction-text .text{
        width: 100%;
        text-align: center;
    }
    .introduction-text .text p{
        width: auto;
    }
    .header-area .work{
        display: none;
    }
    .header-area ul.links{
        margin: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        z-index: 1;
        left: -100%;
        padding-left: 0;
        background-color: black;
        width: 100%;
        min-height: 100vh;
        justify-content: center;
        transition: all 0.3s;
    }
    .header-area ul.links li{
        margin-left: 0;
        padding: 20px;
        margin-top: 50px;
    }
    .header-area .x {
        display: none;
    }
    .about-me .text-about #robot{
        display: none;
    }
    .about-me .text-about{
        text-align: center;
    }
    .about-me .text-about p{
        width: auto;
    }
    .skills .container .skills-value{
        width: 100%;
    }
    .skills .container .skills-content{
        width: 100%;
    }
    .skills .container .skills-animation{
        display: none;
    }
    .skills .container .skills-content span{
        font-size: 14px;
    }
    .skills .container{
        padding-top: 150px;
        gap: 20px;
        display: flex;
        flex-direction: column;
    }
    .skills .container .skills-value .cont::before{
       display: none;
    }
    .skills .container .skills-value .cont::after{
        display: none;
    }
    .gallery .container .gallery-box{
        margin: 0 auto;
    }
    .gallery .container .gallery-box img{
        width: 300px;
        max-width: 100%;
    }
    .popupo-box{
        justify-content: center;
        width: 350px;
        height: 400px;
    }
    .timeline .content-timeline .line-timeline-1,
    .timeline .content-timeline .line-timeline-2,
    .timeline .content-timeline .line-timeline-3,
    .timeline .content-timeline .year,
    .timeline .content-timeline .left .circle-left,
    .timeline .content-timeline .right .circle-right{
        display: none;
        opacity: 0;
    }
    .clear-float{
        display: none;
    }
    .timeline .content-timeline{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .timeline .container .content-timeline .left,
    .timeline .container .content-timeline .right{
        width: 100%;
    }
    .timeline .container .content-timeline .left::after{
        top: -15px;
        right: 5px;
        border-color: transparent transparent #fffffffa transparent;
    }
    .timeline .container .content-timeline .right::after{
        top: -15px;
        left: 5px;
        border-color: transparent transparent #fffffffa transparent;
    }
    .show-popupo{
        width: 80%;
    }
    .option-box:last-of-type{
        display: none;
    }
    .contact .container .inputs{
        flex-direction: column;
    
    }
    #up{
        display: none;
    }
} 


